@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;600;700&display=swap');
@import './components/styles/vars.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: $color-blue-primary;
    border-radius: 2px;
  }
}

body {
  margin: 0;
  font-family: 'Prompt', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $color-black;
  color: $color-white;
  overflow-x: hidden;
}
